/* generals */
nav {
    height: 10%;
}

/* navigation bar */
nav>div{
    display: inline-block;
}
nav h1{
    float: left;
    margin: 30px;
    height: 30px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    height: 90px;
    padding: 0;
    text-align: center;
    float: left;
    display: none;
}

nav li {
    margin-top: 10px;
    padding: 30px;
    float: left;
    height: 20px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: left;
    border-bottom: 3px solid #8395a7;
    background-color: #ff9f43;
}

nav li:hover>a{
    opacity:1;
    border-bottom:2px solid #545454;
}
/* section */
section {
    border-left: 2px solid #8395a7;
    padding-left: 3%;
}